/*-------------------------------------------------Colours------------------------------------*/
:root {
    --white: #ffffff;

}

/*--------------------------------------------------General-----------------------------------*/
*,*::before, *::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(Object.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-top: 35.02px;

}

/*--------------------------------------------------Nav-----------------------------------*/
nav{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav img{
    display: flex;
    justify-content: flex-start;
}
nav a{
    color: #ffffff;
    text-decoration: none;
}
nav li{
    padding: 1rem;
    align-items: center;
    display: flex;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    font-family: source sans pro;
}

/*---------------------------------------------Main Section------------------------------*/
.spandiv{
    font-family: Source sans pro;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}
h1{
    font-size: 100px;
    margin-top: 100px;
}
span{
    padding: 1rem;
}
button{ 
    background-color: #C271FF;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    box-shadow: black;
    border-radius: 20PX;
    color: white;
    margin-top: 30px;
}
h2{
    font-family: Source sans pro;
    color: var(--white);
    text-align: center;
    padding-top: 130px;
    font-size: 32px;
}
.pros{
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pros img{
    border-radius: 700px;
    display: flex;
    padding-bottom: 0.3rem;
}
.pros h3{
    font-size: 16px;
    color: white;
    text-align: center;
}
.pros p{
    font-size: 14px;
    color: white;
    font-style: italic;
    text-align: center;
}

/*---------------------------------------------Qoute Section------------------------------*/
.qoute{
    background-color: #C271FF;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 150px;
}

.qoute blockquote, h3, p{
    color: white;
    font-family: source sans pro;
    font-size: 16px;
}
.qoute p{
    font-style: italic;
}
.qoute h3{
    font-weight: bold;
}
.qoute img{
    padding-left: 100px;
    padding-right: 30px ;
}

/*---------------------------------------Videos Section---------------------------*/
h2{
    text-align: center;
    font-family: source sans pro;
    color: #071629;
    font-size: 32px;
}
strong{
    color: #C271FF;
}
.videos h3{
    font-family: source sans pro;
    font-size: 14;
    font-weight: bold;
    color: black;
    padding-top: 7px;

}
.videos p{
    font-family: source sans pro;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #071629;
    opacity: 50%;
}
.videos .img1{
    width: 30px;
    height: 30px;
}
.videos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 87px;
}
.videos .star{
    display: flex;
    align-items: center;
    color: #C271FF;
}
.videos h4{
    font-family: source sans pro;
    font-size: 12px;
    color: #C271FF;
}
.videos .mins{
    color: #C271FF;
}

/*---------------------------------------Membership Section---------------------------*/
.membership h2{
    font-family: source sans pro;
    color: #ffffff;
    font-size: 30px;
}
.membership strong{
    font-family: source sans pro;
    color: #C271FF;
    font-size: 30px;
    font-weight: bold;
}
.membership{
    background-color: #071629;
    padding-bottom: 50px;
}
.membership .members{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 70px;
    padding-left: 170px;
    padding-right: 100px;
}
.membership div{
    padding: 0.2rem;
}
.membership button{
    display: block;
    margin: auto;
}
.membership h3{
    font-family: source sans pro;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}
.membership p{
    font-family: source sans pro;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
.membership img{
    display: flex;
    margin: auto;
    justify-content: center;
}

/*---------------------------------------F.A.Q Section---------------------------*/
.FAQ h2{
    color:black;
    font-size: 55px;
    font-family: source sans pro;
    font-weight: lighter;
    text-align: center;
}
.faq1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.faq1 div{
    padding: 30px;
    color: #071629;
    text-align: justify;
    font-size:14px ;
    font-family: source sans pro;
}
.FAQ h3{
    font-family: source sans pro;
    font-size: 16px;
    color: black;
    padding-bottom: -15px;
    text-align: justify;
}

/*-----------------------------------Footer Section---------------------------------*/
.footer{
    background-color: #071629;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
}
.foot{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.foot div{
    color: white;
}
.footer p{
    text-align: center;
    color: white;
    font-family: source sans pro;
    padding-top: 20px;
    font-size: 10px;
}
.foot i{
    padding: 0.3rem;
}